.md-content h1 {
    color: #cc231dd8;
}

.md-content h2 {
    color: #d65d0e;
}

.md-content h3 {
    color: #d79921;
}

.md-content h4 {
    color: #98971a;
}

.md-content h5 {
    color: #689d6a;
}

.md-content h6 {
    color: #458588;
}

.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2.4rem;
}

.md-nav__item {
    text-transform: lowercase;
}